.va {
  display: flex;
  align-items: center;
}

.hero {
  background-image: url("../images/kha-logo.webp"), url("../images/kha-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color:#d2a121;
  height: 100vh;
}

.cta {
  height: 600px;
  border-top: 10px solid black;
  background: black;
}

.footer {
  color: white;
  background: rgb(14, 14, 14) !important;
  padding: 0 !important;
}

footer strong {
  color: black;
}

footer a {
  color: black;
}

.title {
  color: white;
  font-weight: 800;
  font-size: 4rem;
  font-family: 'Nunito Sans', sans-serif;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

.subtitle {
  color: white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

hr.content-divider {
  max-width: 75px;
  height: 5px;
}

#parallax-1 {
  background: url("../images/food.webp"), url("../images/food.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 10px solid white;
}

#parallax-1 hr {
  background: black;
}

#parallax-2 {
  background: url("../images/drink.webp"), url("../images/drink.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 10px solid white;
}

#parallax-2 hr {
  background: black;
}

#parallax-3 {
  background: url("../images/place.webp"), url("../images/place.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid white;
}

#parallax-3 hr {
  background: black;
}

.label {
  color: white;
}

.line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.details {
  color: white !important;

}
.details:active {
  color: #dddddd;
}

@media only screen and (max-width: 1241px) {
  .hero {
    background-size: 75%;
  }

}

